.ruby-lsp
.vscode

ext/opengl/opengl-x64-mingw-ucrt.def
ext/opengl/Makefile
ext/opengl/extconf.h

ext/glfw/opengl-x64-mingw-ucrt.def
ext/glfw/Makefile
ext/glfw/extconf.h
ext/glfw/glfw-x64-mingw-ucrt.def

*.o
*.so
*.log
*.a